<br />
<br />
  <main>
      <div class="login-form">
        <div class="z-depth-1 grey lighten-4 row" style=" padding: 32px 48px 0px 48px; border: 1px solid #EEE;">

          <form class="col s12" [formGroup]="fGroup" >
            <div class='row'>
              <div class='col s12'>
              </div>
            </div>

            <div class='row'>
              <div class='input-field col s12'>
                <input formControlName="username" type='email' name='email' id='email' />
                <label class="active" for='email'>Enter your email</label>
                <div class="input-error" *ngIf="fg['username'].errors && (fg['username'].dirty || fg['username'].touched)">
                  <ul>
                  <li><strong *ngIf="fg['username'].errors['required']">Este campo es requerido.</strong><br /></li>
                  <li><strong *ngIf="fg['username'].errors['email']">Este campo debe tener un formato de correo electrónico.</strong><br /></li>
                  <li><strong *ngIf="fg['username'].errors['minlength']">El valor de este campo debe ser mínimo de 5 caracteres.</strong><br /></li>
                </ul>
                </div>
              </div>
            </div>

            <br />
              <div class='row'>
                <button type='button' (click)="ResetPasswordAction()" name='btn_login' class='col s12 btn btn-large waves-effect'>Reset</button>
              </div>
          </form>
        </div>
      </div>
  </main>