<nav class="green">
    <div class="nav-wrapper">
      <a routerLink="/home" class="brand-logo">Inicio</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a *ngIf="!isLogged" routerLink="/security/login">Login</a></li>
        <li><a *ngIf="isLogged" routerLink="/parameters/election">Elecciones</a></li>
        <li><a *ngIf="isLogged" routerLink="/parameters/candidate">Candidatos</a></li>
      </ul>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-demo">
    <li><a *ngIf="!isLogged" routerLink="/security/login">Login</a></li>
    <li><a *ngIf="isLogged" routerLink="/parameters/election">Elecciones</a></li>
    <li><a *ngIf="isLogged" routerLink="/parameters/candidate">Candidatos</a></li>
  </ul>